<style>
h1, h2 {
font-family: sans-serif;
color: purple;
} h1 {
}

}

.email-signup {
    width:960px;
    text-align:left;
    font-size: 28px;
    padding:40px 0 0 40px;
    margin: 40px auto 0 auto;
}

.email-signup a {
    text-decoration: underline;
}

.email-signup #email-addr {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 28px;
    padding:0px;
}
.email-signup #email-submit {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding:2px 5px;
    line-height:50px;
    height:auto;
    font-size:28px;
    font-weight:normal;
    display: inline-block;
    border: none;
    -webkit-appearance: push-button;
}
    </style>